
.myStoriesWrapper {
  margin-top: 65px;
}
@media only screen and (min-width: 1370px) {
    .myStoriesWrapper {
      width: 1300px;
      margin: auto;
      border-left: 1px solid rgb(231,231,230);
      border-right: 1px solid rgb(231,231,230);
      margin-top: 65px
    }
  }